.loading {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000000, 0.8);
}

.cdp-section {
  margin: 15px 15px;
  border-radius: 5px;
  border: 1px solid rgba(165, 177, 197, 0.2);
  background: #fff;
}

.cdp-range-picker {
  border-radius: 0px !important;
  height: 40px;
  .ant-picker-input {
    > input {
      font-size: 14px;
    }
  }
}

.ant-notification-notice.ant-notification-notice-closable {
  padding: 14px 20px 8px 20px;
  border-radius: 2px;
}

.ant-notification-notice .ant-notification-notice-close {
  top: 14px;
}

.ant-notification-notice-icon {
  top: 15px;
  font-size: 20px !important;
}

.ant-notification-notice {
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.2),
    0 10px 30px rgba(0, 0, 0, 0.12),
    0 25px 50px rgba(0, 0, 0, 0.08);
}

.ant-notification-notice-message {
  font-size: 14px !important;
}

.has-placeholder::after {
  display: inline-block !important;
  content: var(--placeholder-text);
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%) translateZ(0);
  color: #a8abb2;
  background-color: #fff;
  line-height: 1em !important;
  font-size: 14px;
  transition:
    top 0.2s,
    font-size 0.2s,
    background-color 0.1s !important;
  pointer-events: none;
  padding-inline-start: 3px !important;
  padding-inline-end: 2px !important;
}

.ant-select-open.has-placeholder::after,
.is-active.has-placeholder::after {
  top: 0px;
  font-size: 12px !important;
  padding-inline-start: 3px !important;
  padding-inline-end: 2px !important;
}

.ant-table {
  border-radius: 2px;
  .ant-table-container {
    border-radius: 2px;
    table {
      border-radius: 2px;
      thead > tr:first-child > *:first-child,
      thead > tr:last-child > *:last-child {
        border-radius: 2px;
      }
    }
  }
}

.ant-table-content > table > thead > tr > th {
  color: rgba(6, 17, 39, 0.5) !important;
  font-weight: 400 !important;
}

.ant-table-thead > tr > th {
  background-color: #fafafa;
}

.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th,
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 0px 16px !important;
  height: 40px;
}

.ant-table-tbody > tr.ant-table-expanded-row > td {
  padding: 16px !important;
  background: #ffffff;
}

.ant-table tfoot > tr > th,
.ant-table-thead > tr > th {
  white-space: nowrap;
}

.ant-table
  .ant-table-tbody
  > tr
  > td
  > .ant-table-expanded-row-fixed
  > .ant-table-wrapper:only-child,
.ant-table .ant-table-tbody > tr > td > .ant-table-wrapper:only-child {
  .ant-table {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ant-table-tbody > tr:last-child > td {
    border-bottom: 1px solid #f0f0f0 !important;
  }
}
